* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  border: 4px solid blue;
  height: 100%;
  width: 100%;
}

.outline {
  display: flex;
  flex-direction: row;
  padding: 10px;

  width: 100%;
  height: 100%;
}

.head {
  border: 1px solid blue;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background: blue;
  width: 35%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 45%;
  gap: 1px;
}

.skill-bar {
  border: 1px solid blue;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  font-size: 12px;
  display: flex;
  align-items: center;
  background: rgb(221, 225, 255);
}

.skill-bar span {
  margin-left: 20px;
  padding-right: 10px;
}

.skill-level {
  text-align: right;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0;
  background-color: transparent;
  padding: 2%;
}

span {
  font-size: 12px;
}

.skill-level[style*="width: 0"] {
  background-color: transparent;
  color: black;
}

.skill-level:not([style*="width: 0"]) {
  background-color: blue;
}

.year-goal {
  border-right: 1px solid blue;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}


@media only screen and (orientation: portrait) and (max-width: 279px) {
  .octopus {
    transform: rotate(90deg);
    min-width: 70vh;
    max-height: 100%;
  }

  .skill-level {
    font-weight: bold;
    font-size: 10px;
    color: rgb(5, 22, 98);
    padding: 3%;
  }

  .skill {
    position: relative;
  }
  
  .skill-name {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    color: black;
  }

  span {
    width: 70%;
    font-weight: bold;
  }
}

@media only screen and (orientation: portrait) and (min-width: 280px) and (max-width: 319px) {
  .octopus {
    transform: rotate(90deg);
    min-width: 70vh;
    max-height: 100%;
  }

  .head {
    width: 35%;
  }

  .skills-container {
    width: 40%;
  }

  .skill-level {
    padding: 4%;
  }

  .skill {
    position: relative;
  }

  .skill-name {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px; 
    font-size: 12px;
    color: black;
    width: 85%;
  }

  .plans {
    font-size: 12px;
  }

  span {
    width: 100%;
    font-weight: bold;
  }
}

@media only screen and (orientation: portrait) and (min-width: 320px) and (max-width: 359px) {
  .octopus {
    transform: rotate(90deg);
    min-width: 80vh;
    max-height: 100%;
  }

  .skill-bar span {
    margin-left: 5px;
    padding-right: 10px;
}

  .skill-level {
    padding: 4%;
  }

  .skill {
    position: relative;
  }

  .skill-name {
    position: absolute;
    top: 0;
    left: 95%;
    width: 75%;
    margin-left: 5px;
    font-size: 10px;
    color: black;
  }

  .plans {
    font-size: 10px;
  }

  span {
    width: 100%;
    font-weight: bold;
  }
}

@media only screen and (orientation: portrait) and (min-width: 360px) and (max-width: 479px) {
  .octopus {
    transform: rotate(90deg);
    min-width: 95vh;
  }

  .head {
    border-top-left-radius: 85em;
    border-bottom-left-radius: 85em;
    width: 30%;
  }

  .skills-container {
    gap: 4px;
    width: 70%;
  }

  .skill-bar {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    font-weight: bold;
  }
  
  .skill-level {
    padding: 3px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 12px;
  }

  .skill-name {
    padding-right: 10px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }

  .year-goal {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .octopus {
    width: 470px;
    height: 330px;
  }

  .head {
    border-top-left-radius: 74em;
    border-bottom-left-radius: 74em;
    width: 40%;
  }

  .skills-container {
    gap: 1px;
    width: 60%;
  }

  .skill-bar {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  .skill-bar span {
    margin-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
  
  .skill-level {
    padding: 4px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 10px;
  }

  .skill-name {
    padding-right: 10px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }

  .year-goal {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .octopus {
    width: 750px;
    height: 350px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 1px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
  
  .skill-level {
    padding: 3px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 14px;
  }

  .skill-name {
    padding-right: 10px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }

  .year-goal {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .octopus {
    width: 900px;
    height: 450px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 5px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 16px;
  }

  .skill-name {
    padding-right: 10px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }
  
  .year-goal {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .octopus {
    width: 1100px;
    height: 500px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 5px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 16px;
  }

  .skill-name {
    padding-right: 10px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }

  .year-goal {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .octopus {
    width: 1600px;
    height: 650px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 5px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 1.75rem;
  }

  .skill-name {
    padding-right: 20px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }

  .year-goal {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 2560px) and (max-width: 3349px) {
  .octopus {
    width: 1900px;
    height: 800px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 4px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }
  
  .skill-level {
    padding: 4px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 2.5rem;
  }

  .skill-name {
    padding-right: 20px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }
}

@media only screen and (min-width: 3440px) and (max-width: 3839px) {
  .octopus {
    width: 2500px;
    height: 1200px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 6px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 4rem;
  }

  .skill-name {
    padding-right: 20px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }
}

@media only screen and (min-width: 3840px) and (max-width: 5119px) {
  .octopus {
    width: 3500px;
    height: 1500px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 6px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 5rem;
  }

  .skill-name {
    padding-right: 20px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }
}

@media only screen and (min-width: 5120px) and (max-width: 7680px) {
  .octopus {
    width: 3500px;
    height: 1500px;
  }

  .head {
    border-top-left-radius: 45em;
    border-bottom-left-radius: 45em;
    width: 35%;
  }

  .skills-container {
    gap: 6px;
    width: 75%;
  }

  .skill-bar {
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
  }
  
  .skill-level {
    padding: 5px;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
  }

  .skill-name, .plans, .year-goal {
    font-size: 5rem;
  }

  .skill-name {
    padding-right: 20px;
  }

  .skill-level[style*="width: 0"] .skill-name {
    display: none;
  }
}